@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../assets/body-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  font-weight: 500;
  color: white;
}

body::before,
body::after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  height: 50%;
  z-index: -1;
}

body::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
}

body::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

a:hover {
  scale: 1.2;
  cursor: pointer;
}

/*               SCROLL               */
::-webkit-scrollbar {
  border-radius: 9999px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 9999px;
  background: #181d31;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 9999px;
  background: #555;
}
